.formularioInput {
    border: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    color: white;
}

.formularioInput::placeholder {
    color: white;
}

.containter {
    width: 100%;
}